.paginate {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px 0px;
    justify-content: center;
}

.paginate ul {
    display: flex;
    list-style: none;
}

.paginate ul li{
    padding: 15px;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    margin: 0px 15px;
    font-size: 20px;
}

.paginate button {
    width: 120px;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}


.go_back {
    font-size: 20px;
    background-color: #fac13e;
    padding: 15px 20px;
    width: 200px;
    margin: 50px auto;
    border-radius: 5px;
    border: none;
    color: #191919;
    display: block;
}

@media (min-width:310px) and (max-width:500px) {
    .go_back {
        margin: 20px auto;
    }

    .paginate {
        margin: 20px 0px;
    }

    .paginate ul {
        margin-bottom: 20px;
    }

    .paginate li{
        padding: 10px;
        background-color: royalblue;
        color: white;
        border-radius: 5px;
        margin: 0px 10px;
        font-size: 16px;
    }

    .paginate button {
        width: 100px;
        padding: 10px 15px;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
    }
}
